@font-face {
  font-family: 'Steelfish';
  src: url('steelfish/steelfish rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define the Steelfish Outline font */
@font-face {
  font-family: 'Steelfish Outline';
  src: url('steelfish/steelfish outline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url('https://img.freepik.com/free-photo/light-gray-concrete-wall_53876-89532.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699488000&semt=ais'); */
  background-color: #e7e3d7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2{
  color: #2b3e50;
}

nav {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', monospace;
  text-align: center;
  margin-top: 20px;
}

/* Style for <Link> components, making them look like buttons */
nav a {
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px 10px;
  /* background-color: #5fd9c9; */
  background-color: #bf8896;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Removes the underline from links */
  display: inline-block; /* Aligns links in a row */
  border: 3px solid #aaaaaa;
  box-shadow: 
  4px 4px 0 #2b3e50, 
  8px 8px 0 #2b3e50;
}

/* Hover effect for <Link> components */
nav a:hover {
  background-color: #aa7b86;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Steelfish', sans-serif;
  position: relative;
  color: #2b3e50;
  text-shadow: 
  3px 3px 0 #b53b35, 
  6px 6px 0 #b53b35;
  /* 9px 9px 0 #b53b35; */
  /* 12px 12px 0 #b53b35; */
  /* 15px 15px 0 #b53b35; Long shadow effect */
}


.main-image {
  border: 5px solid #94a5a1; /* Example border: 5px solid green */
  display: block;
  margin: 0 auto; /* Center the image */
  margin-top: 20px; /* Adds 20px padding above the image */
  width: 200px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
}

.image2{
  border: 5px solid #94a5a1; /* Example border: 5px solid green */
  display: block;
  margin: 0 auto; /* Center the image */
  margin-top: 20px; /* Adds 20px padding above the image */
  width: 450px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
}

.image3{
  border: 5px solid #94a5a1; /* Example border: 5px solid green */
  display: block;
  margin: 0 auto; /* Center the image */
  margin-top: 20px; /* Adds 20px padding above the image */
  width: 250px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
}

.image4{
  border: 5px solid #94a5a1; /* Example border: 5px solid green */
  display: block;
  margin: 0 auto; /* Center the image */
  margin-top: 20px; /* Adds 20px padding above the image */
  width: 230px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
}

.image5{
  border: 5px solid #94a5a1; /* Example border: 5px solid green */
  display: block;
  margin: 0 auto; /* Center the image */
  margin-top: 20px; /* Adds 20px padding above the image */
  width: 250px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
}

.content {
  font-family: 'Courier New', monospace;
  padding: 0 5%;         /* Adds horizontal padding relative to screen size */
  max-width: 900px;      /* Optional: keeps line length readable on wide screens */
  margin: 20px auto 0;   /* Centers content horizontally while preserving top margin */
  line-height: 2;
  font-size: 16px;
}

.pics{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media (max-width: 720px) {
  .pics{
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .image2{
    border: 5px solid #94a5a1; /* Example border: 5px solid green */
    display: block;
    margin: 0 auto; /* Center the image */
    margin-top: 20px; /* Adds 20px padding above the image */
    width: 300px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
  }  
}

@media (max-width: 415px) {
  nav {
    display: flex-block;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin-top: 20px;
  }
}


a {
  color: #000; /* Ensure all links have the desired color */
}

a:hover {
  color: #616161; /* Ensure the color doesn't change on hover, if desired */
}